body{
	background:#F7F7F7;
	font-family:'Open Sans', sans-serif!important;
    padding-top:3em;
}
a:focus{ outline:none!important; }

strong{ font-weight:700; }

table{
    min-height:5em;
}
table tr th{
	background:#EFEFEF;
	text-align:left!important;
	width:50%!important;
}
table tr td{
	background:#FFFFFF;
}
table tr th a{
	display:block;
	float:left;
	padding-right:1em;
	text-decoration:none!important;
}
/*Charts*/
.chart{
	width:50em;
	height:30em;
}

.area-txt{
	color:#707070;
	font-weight:bold;
}
.cls{ clear:both; }
.absolutes{
	position:absolute;
	top:0;bottom:0;left:0;right:0;
}

.navbar.navbar-inverse{
	background:#006699!important;
    border:0;
	color:#FFFFFF!important;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav li a:hover{
    background:#1975A3;
}
.head-title{
	font-size:1.2em;
}
.navbar-header a{
    margin-right:3em;
}
.headpad a{
    color:#FFF!important;
    padding:1.15em 1em;
}
 .headpad li a{
    padding:1.5em 1em;
 }
.logoholder{
	height:auto!important;
    padding-top:0.7em!important;
}
/*Tab content*/
.tab-content{
	background:#FFFFFF;
	border:1px solid #DDD;
	border-top:0;
	padding-top:1.6em;
}

/* Custom page footer */
.footer{
    color:#777;
    font-size:0.9em;
    margin-top:2em;
    padding:1em 0;
}
.show-tablet{ display:none; }

/* Customize container */
@media (max-width: 768px) {
	.navbar.navbar-inverse{
		/*padding-bottom:1em;*/
	}
	.navbar-nav{
		margin-top:0;
		margin-bottom:0;
	}
	.headpad a{
		padding-top:0.9em;
	}
	.navbar-collapse{
		height:1px;
	}
	
	/*Now as dropdown menu*/
	#summarytabs.show-tablet{
		border-bottom:0;
	}
	#summarytabs .dropdown{
		background:#FFFFFF;
		border:1px solid #CFCFCF;
		margin-left:1em;
	}
	#summarytabs a{
		padding:0.6em 1em;
	}
	#summarytabs .dropdown-menu{
		border-radius:0;
		width:100%;
	}
	a.dropdown-toggle{
		border:0!important;
		border-radius:0!important;
		margin:0!important;
	}
	
	button.navbar-toggle{
		margin-top:0.5em;
	}
	.footer{
		background:#707070;
		color:#FFFFFF!important;
	}
	.footer p.copyright{
		padding-top:2em;
	}
	.show-tablet{
		display:block;
	}
	.hide-tablet{
		display:none;
	}
	.tab-content{
		background:transparent;
		border:0;
		margin-top:1em;
	    padding:0;
	}
	.tab-pane .col-md-6{
		padding:1em 0;
	}
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}