body{
	font-family:'Open Sans', sans-serif!important;
    padding-top:3em;
}

strong{ font-weight:700; }

table{
    min-height:5em
}

.area-txt{
	color:#707070;
	font-weight:bold;
}
.cls{ clear:both; }
.absolutes{
	position:absolute;
	top:0;bottom:0;left:0;right:0;
}

.navbar.navbar-inverse{
	background:#65289B!important;
    border:0;
	color:#FFFFFF!important;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav li a:hover{
    background:#9276CC;
}
.head-title{
	font-size:1.2em;
}
.navbar-header a{
    margin-right:3em;
}
.headpad a{
    color:#FFF!important;
    padding:1.15em 1em;
}
 .headpad li a{
    padding:1.5em 1em;
 }
.logoholder{
	height:auto!important;
    padding-top:0.7em!important;
}
.panel .panel-heading{
	background:#777;
	color:#FFFFFF;
	font-weight:bold;
}

/* Custom page footer */
.footer{
    margin-top:;
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
}